
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: rgba(112,112,112,1);
  position: fixed;
  z-index: 25;
  top: 0;
  left: 0;
  width: 100vw;
  height: 42px;
}

li.navbar {
  float: left;
}

li.navbar a:not(.logobgcol) {
  display: block;
  font-family: SanFrancisco, Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  text-align: center;
  margin: auto;
  margin-right: 3vw;
  margin-top: 10px;
  text-decoration: none;
  transition: all 0.2s ease;
  height: 29px;
}

/* Change the link color to #111 (black) on hover */
/*li a:hover:not(.active):hover:not(.logobgcol) { */
li.navbar a:hover:not(.logobgcol) {
  /*background-color: rgba(159,177,213,1);*/
  color: rgba(159,177,213,1);
  /*border-radius: 15px 30px;*/
}

li.navbar a img:hover {
    /*background-color: rgba(61,84,134,1);*/
    filter: none;
    -webkit-animation: rotation 10s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

.cornerlogo {
  -webkit-animation: rotation 120s infinite linear;
  position: absolute;
  top: -17vh;
  left: 60vw;
  width: 55vw;
  height: auto;
  display: block;
  align-content: center;
}

.activeNavbar {
  /*background-color: rgba(61,84,134,1);*/
  /*border-radius: 15px 30px;*/
  /*border-bottom: 14px solid rgba(159,177,213,1);*/
  color: rgba(159,177,213,1);
  border-bottom: 4px solid white;
}

.logobgcol {
  align-content: center;
  padding: 4px;
  display: block;
  margin-left: 3vw;
  margin-right: auto;
  height: 38px;
  margin-top: -12px;
  background-color: rgba(0,0,0,0);
  filter: brightness(1000);
}
