body {
  background-color: white;
  font-family: Verdana;
}
h1 {
  color: blue;
  font-family: Verdana;
  font-stretch: semi-expanded;
  font-weight: bolder;
}
p {
  color: red;
}

/* scrollable area for journal */
div.weekbox {
    background-color: lightblue;
    overflow: auto;
    height:300px;
    width:700px;
    border: 8px solid yellowgreen;
    padding:2%;
  }
