body {
  font-family: SanFrancisco;
  font-weight: lighter;
  margin: 10%;
}
h1 {
  color: blue;
  font-family: SanFrancisco;
  font-weight: bold;
}
p {
  color: red;
  font-family: SanFrancisco
}

h5 {
  color: black;
  font-family: SanFrancisco;
  font-weight: bold;
  font-size: 96
}

h6 {
  color: SlateGray;
  font-family: SanFrancisco;
  font-weight: bold;
  font-size: 42
}

@font-face {
  font-family: SanFrancisco;
  src: url(fonts/SF-Pro-Text-Regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: SanFrancisco;
  src: url(fonts/SF-Pro-Text-Medium.otf);
  font-weight: bolder;
}

@font-face {
  font-family: SanFrancisco;
  src: url(fonts/SF-Pro-Text-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: SanFrancisco;
  src: url(fonts/SF-Pro-Text-Light.otf);
  font-weight: lighter;
}
