body {
  font-family: SanFrancisco;
  font-weight: lighter;
}
h1 {
  color: blue;
  font-family: SanFrancisco;
  font-weight: bold;
}
p {
  color: red;
  font-family: SanFrancisco
}

h5 {
  color: black;
  font-family: SanFrancisco;
  font-weight: bold;
  font-size: 96px;
}

h6 {
  color: Black;
  font-family: SanFrancisco;
  font-weight: bolder;
  font-size: 36px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 80px;
}

@font-face {
  font-family: SanFrancisco;
  src: url(fonts/SF-Pro-Text-Regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: SanFrancisco;
  src: url(fonts/SF-Pro-Text-Medium.otf);
  font-weight: bolder;
}

@font-face {
  font-family: SanFrancisco;
  src: url(fonts/SF-Pro-Text-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: SanFrancisco;
  src: url(fonts/SF-Pro-Text-Light.otf);
  font-weight: lighter;
}

/* for parallax effect */

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}
.parallax__layer--base {
  transform: translateZ(0);
  position: relative;
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2); /* scale = 1 + (translateZ * -1) / perspective */
  position: relative;
}
.parallax__layer--deep {
  transform: translateZ(-2px) scale(3);
  position: static;
}

.bg-image {
  /* Add the blur effect */
  filter: blur(6px);
  -webkit-filter: blur(6px);
  opacity: 0.5;

  /* Full height height: 100%; */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;

  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

.displayHomeText {
  position: relative;
  margin-top: 40vh;
  margin-left: 2vw;
  padding: 0;
  height: 7.5em;
  display: block;
}

.biomodLogo {

}

p.nanoDIPsText {
  text-transform: uppercase;
  font-size: 7.5em;
  font-weight: bold;
  line-height: inherit;
  padding: inherit;
}

.icbiomodtext {
  font-size: 4em;
  height: 4em;
  text-transform: uppercase;
  color: rgba(217,217,217,1);
  font-weight: bold;
  position: relative;
  margin-top: 0;
  padding-top: 0;
  margin-left: 2.3vw;
  letter-spacing: 0.042em;
}

mark.darkblue {
  background-color: inherit;
  color: rgba(61,84,134,1);
}

mark.midblue {
  background-color: inherit;
  color: rgba(116,142,193,1);
  padding: inherit;
  margin: inherit;
}
