body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}

/* For the navbar */
<ul>
  <li><a href="index.html">insert logo</a></li>
  <li><a href="/Introduction/intro.html">Introduction</a></li>
  <li><a href="/Project/project.html">Project</a></li>
  <li><a href="/Team/team.html">Team</a></li>
</ul>
