body {
  max-width: 100vw;
  overflow-x: hidden;
}

.testbackground {
  background-color: blue;
}

.youtubevid {
  margin-left: 25vw;
  margin-right: 25vw;
  width: 50vw;
  height: 28.125vw;
  max-height: 70vh;
  background-color: lightblue;
}

.youtubevid iframe {
  height: 100%;
  width: 100%;
  pointer-events: auto;
  z-index: 1;
}

.hideframe {
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  z-index: 10;
  width: 50vw;
  height: 28.125vw;
  max-height: 70vh;
}

.abstract {
  margin-left: 10vw;
  margin-right: 10vw;
  font-family: SanFrancisco, Arial, sans-serif;
  font-size: 1.2em;
  color: rgba(180,180,180,1)
}

h1 {
  font-family: SanFrancisco, Arial, sans-serif;
  text-transform: none;
  font-size: 1.7em;
  padding-bottom: 0.75em;
  color: rgba(180,180,180,1);
  font-weight: normal;
  width: 100%;
  border-bottom: 2px solid rgba(217,217,217,1);
  margin-top: 0em;
  padding-top: 2em;
}


.displayHomeText {
  position: relative;
  margin-top: -8.5em;
  margin-left: 2em;
  padding: 0;
  height: 7.5em;
  display: block;
}

.biomodLogoWrapper {
  padding: 0;
  background-color: none;
  margin-bottom: 0;
  display: block;
  margin-left: 2.6em;
  margin-top: 35vh;
  height: auto;
  width: auto;
  position: relative;
  overflow: hidden;
}

img.biomodLogo {
  height:2.5em;
  padding: 0;
  width: auto;
  float: left;
  position: relative;
  margin: 0;
  align: middle;
  line-height: 0;
  overflow-x: hidden;
}

p.biomodLogo {
  text-align: top;
  font-size: 3.25em;
  font-weight: bold;
  color: rgba(217,217,217,1);
  overflow: hidden;
  position: relative;
  margin: 0;
  margin-top: -0.23em
}

p.nanoDIPsText {
  text-transform: uppercase;
  font-size: 7.5em;
  font-weight: bold;
  line-height: inherit;
  padding: inherit;
}

.icbiomodtext {
  font-size: 4em;
  height: 4em;
  text-transform: uppercase;
  color: rgba(217,217,217,1);
  font-weight: bold;
  position: relative;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 0.57em;
  letter-spacing: 0.015em;
}

.sideAnimation {
  position: fixed;
  display: block;
  opacity: 0;
  margin-right: 3em;
  margin-left: 3em;
  top: 15vh;
  max-height: 70vh;
  width: 70vh;
  max-width: 45vw;
  background-color: none;
  transition: 0.6s;
  transition-delay: 0.35s;
}

.sideAnimation-active {
  display: block;
  transition: 0.7s;
  opacity: 1;
  transition-delay: 0s;
}

.introtext {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  right: 5em;
  left: 45vw;
  height: 60vh;
  background-color: none;
  width: 48vw;
  top: 15vh;

  font-size: 1.3em;
  color: rgba(150,150,150,1);
}

.scrollwrapper {
  top:0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.downarrow {
  position: relative;
  margin-left: 48vw;
  width: 40px;
  margin-right: 48vw;
  height: 40px;
  margin-top: 2em;

  display:inline-block;

  border-right:2px solid rgba(180,180,180,1);
  border-bottom:2px solid rgba(180,180,180,1);
  -ms-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);

}

.downarrow:hover {
  text-decoration: none;
  border-right:2px solid rgba(116,142,193,1);
  border-bottom:2px solid rgba(116,142,193,1);
  transition: 0.8s;
}

.herotext {
  position: absolute;
  top: 10%;
  left: 5%;
  height: auto;
  width: 60%;
  font-size: 4em;
  font-family: SanFrancisco, Arial, sans-serif;
  font-weight: bold;
  color: rgba(180,180,180,1);
}

.frontmenu {
  position: absolute;
  font-size: 1.5em;
  font-family: SanFrancisco, Arial, sans-serif;
  font-weight: lighter;
  color: rgba(180,180,180,1);
  bottom: 15%;
  right: 7%;
  line-height: 2em;
}

.frontmenuitem {
  transition: 0.4s;
  text-decoration: none;
  color: inherit;
}

.frontmenuitem:hover {
  color: rgba(116,142,193,1);
  transition: 0.4s;
}

mark.midblue {
  color: rgba(116,142,193,1);
  background-color: inherit;
}
