body {
  font-family: SanFrancisco;
  font-weight: lighter;
}
h1 {
  color: navy;
  font-family: SanFrancisco, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
h2  {
  color: black;
  font-family: SanFrancisco, Arial, sans-serif;
}
p {
  color: black;
  font-family: SanFrancisco, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
}

h5 {
  color: darkgrey;
  font-family: SanFrancisco, Arial, sans-serif;
  font-weight: bold;
  font-size: 15vh;
  max-width: 100%;
}

h6 {
  color: Black;
  font-family: SanFrancisco;
  font-weight: bolder;
  font-size: 36px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 80px;
}

@font-face {
  font-family: SanFrancisco;
  src: url((../assets/fonts/SF-Pro-Text-Regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: SanFrancisco;
  src: url(../assets/fonts/SF-Pro-Text-Medium.otf);
  font-weight: bolder;
}

@font-face {
  font-family: SanFrancisco;
  src: url(../assets/fonts/SF-Pro-Text-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: SanFrancisco;
  src: url(../assets/fonts/SF-Pro-Text-Light.otf);
  font-weight: lighter;
}

/* for parallax effect */


.teamtext {
  display: block;
  position: relative;
  margin-top: 35vh;
  margin-left: 10vw;
  margin-bottom: 30vh;
  height: 35vh;
  opacity: 0;
}

.teampic {
  display: block;
  margin-left: 5vw;
  margin-right: auto;
  margin-top: 35vh;
  margin-bottom: 30vh;
  height: 35vh;
  border-radius: 50%;
  opacity: 0;
}

.hidepic {
  opacity: 0;
}

.bg-image {
  /* Add the blur effect */
  filter: blur(6px);
  -webkit-filter: blur(6px);
  opacity: 0.5;

  /* Full height height: 100%; */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;

  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

* {
  box-sizing: border-box;
}

/* Create 2 unequal columns that float next to each other */
.column {
  float: left;
  padding: 0px;
  margin-top: 46px;
}

.left {
  width: 33%;
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
}

.right {
  width: 67%;
  position: relative;
  z-index: 1;
  top: 0;
  right: 0;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.topoverlay {
  width: 100%;
  height: 30%;
  position: absolute;
  z-index: 5;
  top: 46px;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(80,80,80,1),
    rgba(80,80,80,0)
    );
}

.topoverlay2 {
  width: 100%;
  height: 10%;
  position: fixed;
  z-index: 4;
  top: 46px;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(80,80,80,.5),
    rgba(80,80,80,0)
    );
}

.bottomoverlay {
  width: 100%;
  height: 10%;
  position: fixed;
  z-index: 4;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(80,80,80,0),
    rgba(80,80,80,0.5)
    );
}

.herotext {
  position: absolute;
  z-index: 6;
  top: -14%;
  left: 0;
  margin-left: 20px;
  margin-top: 0;
}
