body {
  font-family: SanFrancisco;
  font-weight: lighter;
}
h1 {
  color: blue;
  font-family: SanFrancisco;
  font-weight: bold;
}
p {
  color: red;
  font-family: SanFrancisco
}

h5 {
  color: white;
  font-family: SanFrancisco, Arial, sans-serif;
  font-weight: bold;
  font-size: 15vh;
}

h6 {
  color: Black;
  font-family: SanFrancisco;
  font-weight: bolder;
  font-size: 36px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 80px;
}

@font-face {
  font-family: SanFrancisco;
  src: url((../assets/fonts/SF-Pro-Text-Regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: SanFrancisco;
  src: url(../assets/fonts/SF-Pro-Text-Medium.otf);
  font-weight: bolder;
}

@font-face {
  font-family: SanFrancisco;
  src: url(../assets/fonts/SF-Pro-Text-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: SanFrancisco;
  src: url(../assets/fonts/SF-Pro-Text-Light.otf);
  font-weight: lighter;
}

/* for parallax effect */

.teampic {
  position: relative;
  margin-top: 25vh;
  margin-left: 0;
  align-content: center;
}

.teamtext {
  position: relative;
  margin-top: 30vh;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  transform-style: preserve-3d;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__group {
  position: relative;
  height: 100vh;
}
.parallax__layer--base {
  transform: translateZ(0);
  position: relative;
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(1); /* scale = 1 + (translateZ * -1) / perspective */
  position: relative;
}
.parallax__layer--deep {
  transform: translateZ(-2px) scale(1);
  position: static;
}

.bg-image {
  /* Add the blur effect */
  filter: blur(6px);
  -webkit-filter: blur(6px);
  opacity: 0.5;

  /* Full height height: 100%; */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;

  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

* {
  box-sizing: border-box;
}

/* Create 2 unequal columns that float next to each other */
.column {
  float: left;
  padding: 0px;
  margin-top: 46px;
}

.left {
  width: 33%;
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
}

.right {
  width: 67%;
  position: relative;
  z-index: 1;
  top: 0;
  right: 0;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.topoverlay {
  width: 100%;
  height: 30%;
  position: fixed;
  z-index: 5;
  top: 46px;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(80,80,80,1),
    rgba(80,80,80,0)
    );
}

.bottomoverlay {
  width: 100%;
  height: 30%;
  position: fixed;
  z-index: 4;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(80,80,80,0),
    rgba(80,80,80,1)
    );
}

.herotext {
  position: absolute;
  z-index: 6;
  top: -14%;
  left: 0;
  margin-left: 20px;
  margin-top: 0;
}

img {
  border-radius: 50%;
}

.centeredImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30vh;
  margin-bottom: 0vh;
  height: 20vh;
}
